.header {
  margin-bottom: 1.45rem;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: .8rem;
}

.nav .link {
  color: slategrey;
  text-decoration: none;
}

.nav .link:hover {
  text-decoration: underline;
}

