@tailwind base;

@tailwind components;

@tailwind utilities;

.rc-pagination-disabled {
  color: darkgrey;
}

.rc-pagination-disabled a:hover {
  color: darkgrey;
}

.rc-pagination-item-active {
  color: rgba(96, 165, 250);
}
